body{
    margin: 0;
    padding: 0;
    overflow: hidden;

}


img{
    width: 110%;
    position: absolute;
}

h1{
   margin-block-start: 0;
   position: absolute;
   padding: 20px;
   font-size: 3em;

}

.email{
   margin-block-start: 0;
   position: absolute;
   padding: 10px;
   font-size: 2em;
   top: 100px;
}

.phone{
   margin-block-start: 0;
   position: absolute;
   padding: 10px;
   font-size: 2em;
   top: 180px;
}