        body{
            background-color: #EAF6F6;
        }


        hr{
        border-style: none;
        background-color: white;
        height: 2px;
        width: 100%;
        border-style: none;
        }

        img{
        border-radius: 10%;
        }


